<!DOCTYPE html >
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/templates/template.xhtml">

	<ui:define name="contentForm">
		<br />

		<p:panel header="Welcome" toggleable="false" style="height: 70%; text-align: center;" id="pnlIndex">
			
			<p:spacer height="50" id="spacer1" /> 
			<h:outputText value="Welcome to Toretto Auto Parts Online Store" id="outWelcome" style="font-size: 25px;"/>
				<br/>
				<p:spacer height="70" id="spacer2" /> 
				<br/>
			<p:commandLink value="Start Shopping"  action="productBrowser?faces-redirect=true" id="cmlStart" style="font-size: 25px;"/>
			
		</p:panel>
		
	</ui:define>


</ui:composition>
