<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/templates/template.xhtml">

	<ui:define name="contentForm">
		<p:panel header="Product Details" toggleable="false" style="height: 70%;" id="pnlDetails">
			
			<h:outputText value="No product selected"  rendered="#{  productDetailsMB.product eq null }"/>
			
			<p:panelGrid columns="2" style="width:100%" rendered="#{ productDetailsMB.product ne null}">
			
			<h:graphicImage value="#{productDetailsMB.product.imagePath}" style="height: 100px;" />
			
			<p:panelGrid columns="2" style="width:100%" columnClasses="columnDetail,columnDetail" >
			
				<h:outputLabel value="Product: " for="prdName" styleClass="typeDetail"/>
				<h:outputText value="#{productDetailsMB.product.name}" id="prdName"/>
				
				<h:outputLabel value="Stock: " for="prdStock" styleClass="typeDetail"/>
				<h:outputText value="#{productDetailsMB.product.stockQtt}" id="prdStock"/>
				
				<h:outputLabel value="Price: " for="prdPrice" styleClass="typeDetail"/>
				<h:outputText value="$ #{productDetailsMB.product.value}" id="prdPrice">
					<f:convertNumber pattern="#0.000" />
				</h:outputText>
				
				<h:outputLabel value="Details: " for="prdDetail" styleClass="typeDetail"/>
				<h:outputText value="#{productDetailsMB.product.description}" id="prdDetail"/>
				
				<h:outputLabel value=" " for="btnAddToCart"/>
				<h:panelGroup layout="block">
					<p:spacer height="40px" width="1px" />
					<p:commandLink value="Add to cart"  action="#{productDetailsMB.addProductInCart(productDetailsMB.product)}"
					 update="pnlDetails" id="btnAddToCart" rendered="#{productDetailsMB.product.stockQtt gt 0}" />
					
					<h:outputText value="Out of stock" rendered="#{productDetailsMB.product.stockQtt lt 1}"  
					style="color: red;"	id="lblOutOfStock"/>
				</h:panelGroup>
				
			</p:panelGrid>	
		</p:panelGrid>
								 	 
		</p:panel>	
	</ui:define>

</ui:composition>
