<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/templates/template.xhtml">

	<ui:define name="contentForm">
		
	<p:panel header="Products List" toggleable="false" id="pnlListPrds">

		<p:dataGrid var="item" value="#{productBrowserMB.listProducts}"  id="dtGrid"
		columns="2" >
			<p:panel header="#{item.name} " style="text-align:center" id="pnlProd" >
					<h:panelGrid columns="2" style="width:100%" id="pnlGrid">
						<p:commandLink action="#{productBrowserMB.showProductDetails(item)}">
							<h:graphicImage value="#{item.imagePath}" style="height: 100px;" />
						</p:commandLink>
						<h:panelGroup layout="block">
							<h:panelGrid columns="1" id="pnlPrd" >
								<h:outputText value="#{item.description}" style="color: #666666; font-size: 11px;" />
								<h:outputText value="U$ #{item.value}" style="color: #000000; font-size: 15px; font-weight: bold;"  />	
								<h:outputText id="lblStock" value="Stock: #{item.stockQtt}" style="color: #666666; font-size: 11px; float: right;" />
								<p:commandLink style="text-decoration: none;color: blue; font-size: 11px;" rendered="#{item.stockQtt gt 0}"
								 process="@this" id="lnkAddCart" action="#{productBrowserMB.addProductInCart(item)}" update="pnlGrid">
								 	<h:outputText value="Add to cart" />  
								</p:commandLink>
								<h:outputText value="Out of stock" style="color: red; font-size: 11px;" rendered="#{item.stockQtt lt 1}" />
							</h:panelGrid>
						</h:panelGroup>

					</h:panelGrid>
				</p:panel>
		
		</p:dataGrid>
	</p:panel>

	</ui:define>

</ui:composition>
