<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/templates/template.xhtml">

	<ui:define name="contentForm">
		
	<p:panel header="Shopping Cart" toggleable="false" style="min-height: 70%;" id="pnlCart">
		
		<p:outputLabel value="You cart is empty" rendered="#{empty shoppingCartMB.cart.orders}"/>
		
		<p:dataTable id="dataTable" var="item" value="#{shoppingCartMB.cart.orders}" rendered="#{not empty shoppingCartMB.cart.orders}" >

				<f:facet name="header">  
           			 Itens in cart  
        		</f:facet>

				<p:column headerText="Product">
					<p:commandLink action="#{productBrowserMB.showProductDetails(item.product)}">
							<h:graphicImage value="#{item.product.imagePath}" style="height: 50px;" />
					</p:commandLink>
					
					<h:outputText value="#{item.product.name}" />
				</p:column>
				
				<p:column headerText="Unit Value">
					<h:outputText value="#{item.product.value}" />
				</p:column>
				
				<p:column headerText="Quantity">
					<p:inputText value="#{item.productQtt}" disabled="true"
						 size="1"/>
					<p:commandLink value="+" style="color: #666666; font-size: 15px; text-decoration: none;" 
								 process="@this" id="lnkAdd" title="Add" disabled="#{item.productQtt == item.product.stockQtt}"
								 	action="#{shoppingCartMB.addProductInCart(item.product)}" update="dataTable"/>
					<h:outputText value=" / " />
					<p:commandLink value="-" style="color: #666666; font-size: 15px; text-decoration: none;" 
							actionListener="#{shoppingCartMB.removeProductFromCart(item.product, 1)}"	
							  id="lnkRmv" title="Remove" update="@form"/>
				</p:column>
				
				<p:column headerText="Total Value">
					<h:outputText value="#{item.totalOrderValue}" />
				</p:column>
				
				<p:column id="clRemove" headerText="Remove">
					
				<p:commandButton value="remove item" style="color: #666666; font-size: 10px;"
						  id="lnkRvmPrd" icon="ui-icon-close" process="@this"
						 	actionListener="#{shoppingCartMB.removeProductFromCart(item.product, item.productQtt)}" update="@form"/>
				</p:column>
				

				<f:facet name="footer">  
		           <table style="border: #BFDBF5;font-weight: bold;">
		           	<tr>
		           		<td>TOTAL</td>
		           		<td style="text-align: -webkit-center;">
		           			<h:outputText value="#{shoppingCartMB.cart.totalValue}"/>
		           		</td>
		           	</tr>
		           </table>
		        </f:facet>

			</p:dataTable>
		
		</p:panel>

	</ui:define>

</ui:composition>
