<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
    
	<h:head>
		<title>Toretto Auto Parts</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<!-- /WebContent/resources/ -->
		<h:outputStylesheet library="style" name="avenue.css" />
		<h:outputScript library="javascript" name="avenue.js"/>
	</h:head>    

	<h:body>
	
		<!-- top -->	
		<div id="divTop" class="top">
			<ui:include src="top.xhtml"/>
    	</div>

    	<!-- content -->
    	<div id="divContent" >
    			<h:form id="formMain" enctype="multipart/form-data">	
		    	<div id="divMessages">
			    	 <p:growl globalOnly="true" autoUpdate="true"
			    				closable="true" showDetail="true"
			    				showSummary="false" id="messages" />
			    </div>
			       				
			  	<div id="divForm">
			   		<ui:insert name="contentForm" />
			   	</div>
		</h:form>	   		
	    </div>
	    
	    <!-- footer -->
		<div id="divFooter" class="footer">
		   	<ui:include src="footer.xhtml" />
		</div>
		
		<!-- Ajax status (loading...) -->
		<p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">
			<f:facet name="start">
				<p:graphicImage library="images" name="ajax-loading.gif" />
			</f:facet>
		</p:ajaxStatus>
</h:body>
       
</html>
