<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
	 	xmlns:h="http://java.sun.com/jsf/html">
	<div id="header" >
	<h:form id="formTopo">
		<div id="logo"/>	
		
		<div id="info">Toretto Auto Parts</div>	
		
		<h:commandLink id="btnCart" action="shoppingCart?faces-redirect=true" title="Shopping Cart">  
    			<div id="shoppingCart" ></div>	 
		</h:commandLink>  
 				 
		<h:commandLink id="btnHome" action="productBrowser?faces-redirect=truer" title="Home">  
			<div id="homeIcon"></div>	
		</h:commandLink>	
		
	</h:form>	
	</div>
</html>	